.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 30px;
    position: relative;

    .landing-header {
        text-align: center;
        position: relative;
        h1 {
            margin: 16px 0;
            position: relative;
            font-size: 36px;
            .circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    
    .landing-footer {
        color: rgba(0, 0, 0, 0.4);
    }

    .curv {
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
}

