#event-input {
    width: 80%;
    margin-bottom: 0;
    .MuiOutlinedInput-notchedOutline {
        border: 2px black solid;
        border-radius: 16px;
        height: 60px;
    }
    &>label {
        color: black;
    }
    .rotating {
        animation: rotating 2s linear infinite;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
